@import "./../../style/global.scss";
@import "./../../style/responsive.scss";

.single {
  display: flex;

  @include xl {
    flex-direction: column;

    gap: 50px;
  }

  .info {
    flex: 1;

    .detail {
      .head {
        display: flex;
        gap: 20px;
        align-items: center;
        img {
          width: 100px;
          height: 100px;
          border-radius: 10%;
          object-fit: cover;
        }
        h2 {
          font-weight: 500px;
        }
        button {
          background-color: tomato;
          color: white;
          padding: 10px;
          border-radius: 10px;
        }
      }

      .text {
        display: flex;
        margin: 20px 0px;

        .title {
          font-weight: 600px;
          color: $soft_color;
          text-transform: capitalize;
          margin-right: 10px;
        }

        .value {
          font-weight: 300px;
          text-transform: capitalize;
        }
      }
    }

    hr {
      width: 90%;
      height: 0;
      border: 1px solid $soft_bg;

      @include md {
        display: none;
      }
    }
    .chart {
      margin-top: 50px;
      width: 80%;
      height: 400px;

      @include md {
        display: none;
      }
    }
  }

  .activity {
    flex: 1;
    h2 {
      margin-bottom: 20px;
    }

    ul {
      li {
        list-style-type: none;
        width: 1px;
        position: relative;
        background-color: tomato;
        padding-top: 50px;

        &::after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: 0%;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: tomato;
          transform: translateX(-50%);
        }

        div {
          min-width: 480px;
          background-color: rgba(255, 99, 71, 0.176);
          padding: 15px;
          @include md {
            min-width: 300px;
          }
          @include sm {
            min-width: 250px;
          }

          p {
            margin-bottom: 5px;
          }
          small {
            font-size: 12px;
          }
        }
      }
    }
  }
}
